<TableComp>
  <thead>
    <tr>
      <ThCenterComp></ThCenterComp>
      <ThCenterComp>Concept Map</ThCenterComp>
      <ThCenterComp></ThCenterComp>
      <ThCenterComp></ThCenterComp>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
      </th>
      <td class="w-50">
        <JavaTechImgComp></JavaTechImgComp>
      </td>
      <td>
        <NavFragComp></NavFragComp>
      </td>
      <td colspan="2">
      </td>
    </tr>
  </tbody>
</TableComp>
{{outlet}}